[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pyperclip = "*"
clipboard = "==0.0.4"
xerox = "*"

[dev-packages]

[requires]
python_version = "3.9"
